<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="31">
        <activity
            android:name=".FormListaAnuncio"
            android:exported="false" />
        <activity
            android:name=".FormPesquisar"
            android:exported="false" />
        <activity
            android:name=".FormCategorias"
            android:exported="false" />
        <activity
            android:name=".FormPerfil"
            android:exported="false" />
        <activity
            android:name=".FormFeed"
            android:exported="false" />
        <activity
            android:name=".Form_my_ads"
            android:exported="false" />
        <activity
            android:name=".FormRegistro"
            android:exported="false" />
        <activity
            android:name=".form_new_ad"
            android:exported="false" />
        <activity
            android:name=".TelaPerfil"
            android:exported="false" />
        <activity
            android:name=".FormLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>